<header class="header">
    <article class="header__top-bar">
        <section class="header__contact">
            <p class="header__contact-item">
                Atendimento ao cliente: <vtex.cmc:AndreAragaoINFOPhone />
            </p>
            <p class="header__contact-item">
                Whatsapp: <vtex.cmc:AndreAragaoINFOPhone />
            </p>
        </section>
        <section class="header__meus-pedidos">
            <i class="fas fa-bars"></i>
            <a href="#">Meus <b>Pedidos</b></a>
        </section>
    </article>

    <article class="header__center">
        <picture>
            <img src="/arquivos/andre-aragao-logo-eplus.png" alt="Agência E-Plus" />
        </picture>
    
        <section class="header__search-bar">
            <input type="search" placeholder="Digite Aqui"/>
            <vtex.cmc:AndreAragaoSVGLupa />
        </section>
        <section class="header__center-buttons">
            <div class="header__login-cadastre-se">
                <a href="#">
                    <vtex.cmc:AndreAragaoSVGLoginCadastreSe />
                    Login/Cadastre-se
                </a>
            </div>
            <div class="header__carrinho">
                <a href="#">
                    <vtex.cmc:AndreAragaoSVGCarrinho />
                    1 Item(S)
                </a>
            </div>
        </section>
        
    </article>
    <article class="header__bottom-bar">
        <section class="header__categorias">
            <div class="header__categorias-item">
                <a href="#">TEST CATEGORY</a>
            </div>
            <div class="header__categorias-item">
                <a href="#">DESENVOLVIMENTO</a>
            </div>
            <div class="header__categorias-item">
                <a href="#">IMPLANTAÇÃO</a>
            </div>
            <div class="header__categorias-item">
                <a href="#">DESIGN</a>
            </div>
            <div class="header__categorias-item">
                <a href="#">MARKETING</a>
            </div>
            <div class="header__categorias-item">
                <a href="#">SUPORTE</a>
            </div>
        </section>
    </article>
</header>